* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: auto;
}

/* ***body bg*** */
body {
    background-color: black;
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
}

/* ***h1 content** */
.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.col {
    width: auto;
}

h1 {
    color: rgb(236, 229, 6);
    border-bottom: 3px;
    font-family: "Micro 5 Charted", sans-serif;
    font-size: 3.125rem;
    margin: 4rem 6.25rem;
}

ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem;
}

ul li {
    color: rgb(4, 4, 4);
    list-style-type: none;
}

li {
    color: rgb(10, 0, 0);
    width: 80px;
    padding: 20px;
    background-color: rgb(192, 210, 30);
}

.fizz {
    color: rgb(10, 0, 0);
    width: 80px;
    padding: 20px;
    background-color: rgb(62, 5, 250);
}

.buzz {
    color: rgb(10, 0, 0);
    width: 80px;
    padding: 20px;
    background-color: rgb(30, 210, 69);
}

.fizzbuzz {
    color: aquamarine;
    width: 100px;
    padding: 20px;
    background-color: chocolate;
}